@import "tailwindcss";
@plugin "daisyui" {
  themes: retro --default, black --preferdark;
}

@plugin "daisyui/theme" {
  name: "black";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(15% 0 0);
  --color-base-200: oklch(19% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: oklch(35% 0 0);
  --color-primary-content: oklch(97% 0 0);
  --color-secondary: oklch(35% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(35% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(35% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(40% 0.143 264.376);
  --color-info-content: oklch(89.04% 0.062 264.052);
  --color-success: oklch(65% 0.1 150.069);
  --color-success-content: oklch(90.395% 0.035 142.495);
  --color-warning: oklch(90% 0.132 98.111);
  --color-warning-content: oklch(19.359% 0.042 109.769);
  --color-error: oklch(62.795% 0.23 29.233);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}